/* Login.module.scss */

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto; /* Dodanie marginesu automatycznie wyśrodkuje elementy */
}

.loginContainer {
  max-width: 400px; /* Może być zmniejszona */
  width: 100%; /* Ustawienie na 100% szerokości */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 20px;
}

.loginContainer h2 {
  text-align: center;
  //margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;

  span {
    color: #93c11f;
  }
}
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .inputGroup label {
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .inputGroup input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 50%; /* Ustaw szerokość inputu na 50% kontenera */
    margin: 0 auto; /* Wyśrodkuj input wewnątrz kontenera */
  }
  
  .loginContainer button {
    width: 100%;
    background-color: transparent;
    color: #93c11f;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
    border-color: #93c11f;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #93c11f;
      color: white;
    }
  }

  .error {
    color: red; /* Kolor czerwony dla komunikatu o błędzie */
    font-size: 18px; /* Rozmiar czcionki */
    text-align: center;
  }
