.workerPanelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.workerPanelContainer {
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
}

.workerPanelContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 100%;
  max-width: 35%; // Maksymalna szerokość zdjęcia - 50% szerokości kontenera
  max-height: 60vh; // Maksymalna wysokość zdjęcia - 50% wysokości widoku
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex; /* Dodajemy flex, aby centrować zdjęcie */
  justify-content: center; /* Centrujemy w poziomie */
  align-items: center; /* Centrujemy w pionie */
}

.profileImage img {
  max-width: 100%; // Maksymalna szerokość zdjęcia - 100% szerokości kontenera
  max-height: 100%; // Maksymalna wysokość zdjęcia - 100% wysokości kontenera
  object-fit: contain; /* Zachowaj proporcje obrazu */
}

.infoColumn {
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 35%; // Zmniejszenie szerokości sekcji z informacjami
  box-sizing: border-box;
}

.barrier {
  margin-bottom: 25px;
}

.infoColumn p {
  margin-bottom: 10px;
}

.infoColumn strong {
  margin-bottom: 10px;
}


.infoColumn div span {
  color: #93c11f;
  font-weight: 500;
}


.buttonContainer {
  display: flex;
  justify-content: space-evenly; // Zmieniamy na space-evenly, aby przyciski były bliżej siebie
  margin-top: 20px;
}

.changeProfile,
.deleteAccount {
  padding: 15px 25px; // Zwiększamy padding dla większych przycisków
  border: none;
  border-radius: 10px; // Zwiększamy zaokrąglenie krawędzi
  cursor: pointer;
  width: 40%;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease; // Dodajemy płynne przejścia dla wszystkich właściwości
}

.changeProfile {
  background-color: #3498db;
}

.deleteAccount {
  background-color: red;
}

.changeProfile:hover,
.deleteAccount:hover {
  transform: scale(1.05); // Powiększamy przycisk o 5% po najechaniu
}