.workerPanelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.workerPanelContainer {
  width: 80%; /* Ustawienie szerokości na 100% */
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
}
  
  .workerPanelContent {
    margin-bottom: 20px;
  }
  
  .workerPanelContent p {
    margin-bottom: 10px;
  }
  
  .workerPanelContent strong {
    font-weight: bold;
  }
  
  .workerPanelContent p:last-child {
    margin-bottom: 0;
  }

  .column {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(30% - 20px); /* Ustawienie szerokości na około 30% z uwzględnieniem marginesów */
    margin-right: 20px; /* Margines między kolumnami */
    vertical-align: top; /* Wyrównanie do góry */
  }

  .workerPanelContent {
    width: 100%; /* Ustawienie szerokości na 100% */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }